.title {
    font-size: 2.5em;
    text-align: center;
    color: #0b2443;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 30px;
}

.bpw-bot-avatar img, .bpw-bot-avatar svg {
    background: transparent;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 0;
}

.bpw-send-button {
    background: transparent !important;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700 !important;
    padding: 5px;
}

.bpw-composer textarea {
    background: #0c3461;
    color: white;
    border: none;
    font: inherit;
    font-size: 1.2rem;
    height: 60px;
    border-radius: 7px;
    line-height: 1.2;
    padding: 10px;
    resize: none;
    width: 100%;
}

.bpw-header-container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-top: none;
    display: -webkit-box;
    display: -ms-flexbox;
    background: #0168fa;
    display: flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 120px;
    justify-content: space-between;
    max-height: 130px;
    overflow: hidden;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.bpw-botinfo-container {
    color: red;
    height: 80%;
    margin: 0 auto;
    max-width: 800px;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

.bpw-layout {
    -webkit-box-orient: vertical;
    border-left: 1px solid #ccc;
    bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 80%;
    position: fixed;
    right: 15px;
    background: #0b2443;
}

.bpw-header-name {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.bpw-widget-btn {
    background-color: #0168fa;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bpw-floating-button {
    fill: #fff;
    align-items: center;
    background-clip: padding-box;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    cursor: pointer;
    display: flex;
    float: right;
    height: 52px;
    justify-content: center;
    outline: none;
    overflow: hidden;
    padding: 0;
    transition: width 1s,height 1s;
    width: 52px;
    z-index: 1;
}


.bpw-widget-btn {
    background-color: #0168fa;
    border-radius: 50%;
    box-shadow: none;
}

.bpw-header-icon, .bpw-header-icon svg, .bpw-header-icon svg path {
    fill: rgba(255,255,255,0.8);
    transition: fill .3s;
}

.bpw-header-subtitle {
    color: rgba(255,255,255,0.8);
    font-size: .75rem;
    font-weight: 500;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

.bpw-composer-inner {
    background: #0b2443;
    display: flex;
    padding: 10px;
}

.bpw-composer {
    background: hsla(0,0%,100%,.9);
    outline: none;
    padding: 0;
    position: relative;
    transition: border .3s ease;
}

.bpw-botinfo-summary h3 {
    color: #0168fa;
    margin: 0;
}

.bpw-botinfo-description {
    color: rgba(255,255,255,0.5);
    padding: 10px;
    margin-bottom: 1em;
    margin-top: 0.4em;
}

.bpw-botinfo-container a, .bpw-botinfo-container button {
    color: rgba(255,255,255,0.5);
    font-size: .9rem;
    text-decoration: none;
}


.bpw-botinfo-start-button {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: 24px;
    margin-top: 25px;
    padding: 5px 10px;
}