.title {
    font-size: 2.5em;
    text-align: center;
    color: #0b2443;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 30px;
}

.bpw-botinfo-container {
    color: red;
    height: 80%;
    margin: 0 auto;
    max-width: 800px;
    overflow-y: auto;
    text-align: center;
    width: 100%;
}

.bpw-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.bpw-header-name {
    font-size: 3.5em;
    text-align: center;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bpw-widget-btn {
    background-color: #0168fa;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bpw-floating-button {
    background-color: #0168fa;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

   
  /* Apply the same fill color and fill transition to the icon's SVG and path elements */
  .bpw-header-icon svg,
  .bpw-header-icon svg path {
    /* Set fill color to a variable named shark */
    fill: var(--shark);
    /* Set fill transition duration to 0.3 seconds */
    transition: fill 0.3s;
  }
   
  /* When the icon is hovered over, change the fill color to a variable named reef for the icon, SVG and path elements */
  .bpw-header-icon:hover,
  .bpw-header-icon:hover svg,
  .bpw-header-icon:hover svg path {
    fill: var(--reef);
  }
